<div class="madt-header">
    @if (!onlyDateTime) {
        <div class="navigation-section">
            @for (button of buttons; track button.label) {
                @if (button.screens.includes(screen)) {
                    <button
                        [class]="button.class"
                        [id]="button.id"
                        [ngClass]="{
                            disabled: disabledAllButtons,
                            active: activeButtons?.includes(button.id)
                        }"
                        [disabled]="disabledAllButtons"
                        (click)="
                            handleButtonSound();
                            button.navigateTo
                                ? handleNavigate(button.navigateTo)
                                : button.onClick
                                  ? button.onClick(button.data, button)
                                  : ''
                        "
                    >
                        <img [src]="button.imgSrc" alt="" />
                        {{ button.label | translate }}
                    </button>
                }
            }

            @if (env.displayAutoClick) {
                <div styles="display: flex; flex-direction: column; align-items: center;">
                    <mat-slide-toggle [checked]="activeAutoClick" (change)="handleChangeAutoClick()"></mat-slide-toggle>
                    <br />
                    <div>Auto click</div>
                </div>
            }
        </div>
        @if (disconnect) {
            <div class="status-indicators" id="main-status">
                <div class="status error" style="margin-right: 200px">
                    <img [src]="'/assets/images/icons/main/delete.svg'" alt="" />
                    Fare
                </div>
            </div>
        } @else {
            <div class="status-indicators" id="main-status">
                @if (screen === 'maintenance' && locationConfigVisible ) {
                    @if (locationConfigStatus$ | async; as status) {
                        <div class="status">
                            <span
                                [ngClass]="{
                                    'mode-a': status === 1,
                                    'mode-ps': status === 2 || status === 3
                                }"
                            >
                                {{
                                    status === 1
                                        ? 'A'
                                        : status === 2
                                          ? 'P'
                                          : status === 3
                                            ? 'S'
                                            : ''
                                }}
                            </span>
                            Location
                        </div>
                    }
                }
                @for (status of statusIndicators; track status.label) {
                    <div
                        class="status"
                        [ngClass]="{
                            error: !status.connected,
                            hidden: status.hidden,
                            'deep-hidden': status.label === 'BOLC' && status.hidden
                        }"
                    >
                        <img
                            [src]="
                                status.connected
                                    ? '/assets/images/icons/main/check.svg'
                                    : '/assets/images/icons/main/delete.svg'
                            "
                            alt=""
                        />
                        {{ status.label | translate }}
                    </div>
                }
            </div>
        }
    } @else {
        <div class="navigation-section"></div>
    }
    <div class="datetime-section">
        <div class="date">{{ currentDate | date: 'dd/MM/yyyy' }}</div>
        <div class="time">
            <span>{{ currentDate | date: 'HH' }}</span>
            :
            <span>{{ currentDate | date: 'mm' }}</span>
            :
            <span>{{ currentDate | date: 'ss' }}</span>
        </div>
    </div>
</div>
