<div class="wrapper">
    <div class="background-image"></div>
    <div class="centered-flex">
        <mat-card class="welcome-card">
            <img src="/assets/images/icons/logo.svg" alt="" class="logo" />
            <mat-card-header>
                <mat-card-title>Welcome to MADT</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Innovative Bus System</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- <div class="loading-wrapper">
    <div>
        <div><span>Software: </span><span>BFC.A.05.22.00</span></div>
        <div><span>OS Version: </span><span>02.02.23</span></div>
        <div><span>Date: </span><span>11//11/2021</span></div>
        <div><span>S/N Number: </span><span>325235756</span></div>
        <div><span>Service: </span><span>SMRT</span></div>
        <div><span>Bus ID: </span><span>SG5110</span></div>
    </div>
    <div>
        <div>
            <img src="/assets/images/icons/spinner.svg" alt="" class="spinner" />
            <span>Ticketing: </span><span>Connecting</span>
        </div>
        <div>
            <img src="/assets/images/icons/loading.svg" alt="" class="spinner" />
            <span>Bus Location: </span><span>Connecting</span>
        </div>
        <div>
            <img src="/assets/images/icons/spinner.svg" alt="" class="spinner" />
            <span>FMS: </span><span>Connecting</span>
        </div>
    </div>
</div> -->
