@use 'variables' as *;
@use 'dedup-mixins' as *;

.fare-console-page {
    height: 100%;
    text-align: center;

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $madt-bg-dark-2;
        margin-bottom: 8px;

        .left {
            font-size: 20px;
            text-align: left;
            flex-grow: 1;
            padding: 16px 12px;
        }

        .right {
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 235px;
            padding: 16px 12px;
            border-left: 2px solid $madt-bg-dark-1;
            color: $madt-bg-light-1;

            .value {
                color: $white;
                font-weight: $font-weight-bold;
            }
        }
        &:last-child {
            .left {
                color: #ef2626;
            }
        }
    }

    .content {
        @include fare-console-confirm-content-styles;
    }
}
