<div class="deck-type">
    <h3 class="title">{{ 'SELECT_BUS_DECK_TYPE' | translate }}</h3>
    <div class="deck-type-list">
        <div class="scrollbar">
            <app-scrollbar>
                <ul>
                    @for (deck of fareConsoleSetting.deckTypeList; track deck.id) {
                        <li
                            [ngClass]="{
                                selected: selectedDeckTypeId === deck.id
                            }"
                        >
                            <button
                                type="button"
                                style="display: block; width: 100%; text-align: inherit"
                                (click)="handleButtonSound(); handleChangeDeckType(deck.id)"
                            >
                                {{ deck.label | translate }}
                            </button>
                        </li>
                    }
                </ul>
            </app-scrollbar>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="button button-cancel" (click)="handleButtonSound(); goBack()">
            <img src="/assets/images/icons/main/close.svg" alt="" />
            <span>{{ 'CANCEL' | translate }}</span>
        </button>
        <button type="button" class="button button-confirm" (click)="handleButtonSound(); handleConfirmDeckType()">
            <img src="/assets/images/icons/main/confirm.svg" alt="" />
            <span class="text">{{ 'CONFIRM' | translate }}</span>
        </button>
    </div>
</div>
