@use 'variables' as *;

:host {
    position: relative;
}

.deck-type {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .back-button {
        @include back-button;
        font-weight: $font-weight-bold;
        position: absolute;
        top: 0;
        left: 0;
    }

    .title {
        font-size: 32px;
        font-weight: $font-weight-bold;
    }

    &-list {
        width: 640px;
        margin: auto;
        flex-grow: 1;
        overflow: hidden;
        margin-top: 20px;

        .scrollbar {
            height: 100%;
        }

        ul {
            li {
                font-size: 28px;
                padding: 18px 12px;
                text-align: left;
                background-color: $madt-bg-dark-2;
                cursor: pointer;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }

                &.selected {
                    background-color: $madt-bg-light-1 !important;
                    font-weight: $font-weight-bold !important;
                }
            }
        }

        .ng-scrollbar {
            @include scrollbar;
            height: 100%;
        }

        ::ng-deep {
            .scrollbar-track {
                @include scrollbar-track;
            }
            .scrollbar-thumb {
                @include scrollbar-thumb;
            }
            .scrollbar-button {
                @include scrollbar-button;
            }
        }
    }

    .btn-group {
        @include flex-center;
        gap: 32px;
        margin-top: 20px;
    }

    .button {
        @include flex-center;
        padding: 15px 25px;
        min-height: 80px;
        border-radius: 4px;
        transition: 0.2s ease-in-out 0s;

        &:active {
            transform: scale(1.01);
        }

        span {
            font-size: 22px;
            font-weight: $font-weight-bold;
            padding-left: 6px;
            color: $white;
        }

        &-cancel {
            background-color: $madt-color-red;
        }

        &-confirm {
            background-color: $madt-bg-light-1;
        }
    }
}
