@if (bootUpdata.error?.criticalError || bootUpdata.error?.error) {
    <div class="error-wrapper">
        <div>
            <div>
                <h2 class="text-bold">
                    {{ 'CRITICAL_ERROR' | translate }}: {{ bootUpdata.error?.criticalError || '' | translate }} |
                    {{ 'ERROR' | translate }}:
                    {{ bootUpdata.error?.error || '' | translate }}
                </h2>
            </div>
        </div>
    </div>
}

<div class="wrapper">
    <div>
        <h1 class="text-center text-bold">{{ 'VERSION_INFO' | translate }}</h1>
        <table class="custom-table ver-table">
            <tr>
                <th scope="row">{{ 'SOFTWARE' | translate }}:</th>
                <td>{{ bootUpdata.softwareVersion }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'OS_VERSION' | translate }}:</th>
                <td>{{ bootUpdata.osVersion }}</td>
            </tr>
            <tr>
                <th scope="row">{{ ('DATE' | translate).toUpperCase() }}:</th>
                <td>{{ bootUpdata.releaseDate }}</td>
            </tr>
            <tr>
                <th scope="row">{{ ('SN' | translate).toUpperCase() }}:</th>
                <td>{{ bootUpdata.serialNumber }}</td>
            </tr>
            <tr>
                <th scope="row">{{ ('SERVICE' | translate).toUpperCase() }}:</th>
                <td>{{ bootUpdata.service }}</td>
            </tr>
            <tr>
                <th scope="row">{{ ('BUS_ID' | translate).toUpperCase() }}:</th>
                <td>{{ bootUpdata.busId }}</td>
            </tr>
        </table>
    </div>
</div>
