@use 'variables' as *;
@use 'dedup-mixins' as *;

.bus-stop-fare-container {
    background-color: $madt-bg-dark-1;
    padding: 20px 15px;
    height: 100%;
    border-radius: 4px;

    @include bus-stop-fare-container-content;
}
