<div class="toggle-cv-container">
    @if (frontDoor.msgID === MsgID.MAIN_FRONT_DOOR) {
        <div class="page-header">
            <div class="button" (click)="handleButtonSound(); handleClose()">
                <img src="/assets/images/icons/main/close-circle.svg" alt="" />
                <span>{{ 'CLOSE' | translate }}</span>
            </div>
        </div>
        <div class="dialog">
            <div class="dialog-header">
                <p>{{ 'TOGGLE_CV_EXIT' | translate }}</p>
            </div>
            <div class="button-control">
                @for (cv of frontDoor.cvList; track cv) {
                    <div class="button" (click)="handleButtonSound(); handleChangeCvMode(cv)">
                        <div class="icon-text">
                            <div class="text">{{ 'CV_COUNT' | translate: { count: cv } }}</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    } @else if (frontDoor.msgID === MsgID.MAIN_FRONT_DOOR_SELECT_CV) {
        <common-pop-up
            [type]="'info'"
            [title]="'TOGGLE_CV' + frontDoor.cvNum + '_EXIT'"
            [message]="'PRESS_THE_BTN_TO_PROCEED'"
            [isConfirm]="true"
            [isCancel]="true"
            [disableSound]="true"
            (confirm)="handleUpdateCV()"
            (cancelled)="handleCancel()"
        ></common-pop-up>
    }
</div>
