<div class="date-setting">
    <button type="button" class="back-button" (click)="handleButtonSound(); goBack()">
        {{ 'BACK' | translate }}
    </button>
    <div>
        <h2 class="title">{{ 'DATE_TIME' | translate }}</h2>
        <div class="content">
            <p class="value">{{ fareConsoleSetting.dateTime | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
            <div class="input-group">
                <div class="box">
                    <div class="input-box">
                        <p>{{ 'INPUT_DATE' | translate }}</p>
                        <div class="input-block" [ngClass]="{ 'has-error': !!dateTimeErrorMessage }">
                            <input
                                type="text"
                                id="day"
                                data-order="1"
                                [attr.aria-label]="'DAY' | translate"
                                placeholder="--"
                                (click)="handleButtonSound(); dateTimeInputType = 'day'"
                                tabindex="0"
                            />
                            <div>/</div>
                            <input
                                type="text"
                                id="month"
                                data-order="2"
                                [attr.aria-label]="'MONTH' | translate"
                                placeholder="--"
                                (click)="handleButtonSound(); dateTimeInputType = 'month'"
                                tabindex="0"
                            />
                            <div>/</div>
                            <input
                                type="text"
                                id="year"
                                class="year"
                                data-order="3"
                                [attr.aria-label]="'YEAR' | translate"
                                placeholder="----"
                                (click)="handleButtonSound(); dateTimeInputType = 'year'"
                                tabindex="0"
                            />
                        </div>
                        @if (!!dateTimeErrorMessage) {
                            <p class="error">{{ dateTimeErrorMessage | translate }}</p>
                        }
                    </div>
                    <div class="input-box">
                        <p>{{ 'INPUT_TIME' | translate }}</p>
                        <div class="input-block" [ngClass]="{ 'has-error': hasTimeInputError }">
                            <input
                                type="text"
                                id="hour"
                                data-order="4"
                                [attr.aria-label]="'HOUR' | translate"
                                placeholder="--"
                                (click)="handleButtonSound(); dateTimeInputType = 'hour'"
                                tabindex="0"
                            />
                            <div>:</div>
                            <input
                                type="text"
                                id="minute"
                                data-order="5"
                                [attr.aria-label]="'MINUTE' | translate"
                                placeholder="--"
                                (click)="handleButtonSound(); dateTimeInputType = 'minute'"
                                tabindex="0"
                            />
                            <div>:</div>
                            <input
                                type="text"
                                id="second"
                                data-order="6"
                                [attr.aria-label]="'SECOND' | translate"
                                placeholder="--"
                                (click)="handleButtonSound(); dateTimeInputType = 'second'"
                                tabindex="0"
                            />
                        </div>
                        @if (hasTimeInputError) {
                            <p class="error">{{ 'INVALID_ENTRY' | translate }}</p>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="keyboard">
            <custom-keyboard [layout]="'numeric'" (keyPress)="handleChangeInput($event)"></custom-keyboard>
        </div>
    </div>
</div>
