@use 'variables' as *;
@use 'dedup-mixins' as *;

.wrapper {
    @include login-page-wrapper-styles;
}

.error-wrapper {
    @include login-error-wrapper-styles($error-message-padding: 6px 24px, $error-btn-min-width: 145px);
}

.termination {
    @include login-termination-styles;
}

.upgrade-status {
    color: $color-yellow-1;
    margin-top: 20px;
    font-weight: $font-weight-bold;
}

.no-tapping {
    color: rgba($color: #fff, $alpha: 0.3);
}
