@use 'variables' as *;
@use 'dedup-mixins' as *;

:host {
    position: relative;
}

.bus-id {
    @include fare-console-bus-id-styles;
}

.bus-id-error {
    @include fare-console-bus-id-error-styles;
}

.loading {
    @include flex-center;
    flex-direction: column;
    height: 100%;

    > div {
        font-size: 40px;
        font-weight: $font-weight-bold;
        margin-top: 20px;
        @include dot-loading;
    }

    .loader {
        @include spinner;
    }
}

@include fare-console-mat-select-overrides;
