@use 'variables' as *;

@mixin lta-time-setting-theme($light-theme: false) {
    @if $light-theme {
        .time-setting {
            color: $black;

            .back-button {
                background-color: #3e515b !important;
                color: $white !important;

                &::before {
                    background-color: #3e515b !important;
                }
            }

            .content {
                .input-group {
                    input {
                        background-color: #e7e7e7 !important;
                        color: $black !important;
                    }
                }
            }

            .keyboard {
                background-color: $white !important;
            }
        }
    }
}
