<div class="time-setting">
    <button type="button" class="back-button" (click)="handleButtonSound(); goBack()">
        {{ 'BACK' | translate }}
    </button>
    <div>
        <h2 class="title">{{ 'SET_TIME' | translate }}</h2>
        <div class="content">
            <p class="label">{{ 'TIME_FORMAT' | translate }}</p>
            <p class="value">{{ fareConsoleSetting.time }}</p>
            <div class="input-group">
                <p>{{ 'INPUT_TIME' | translate }}</p>
                <input [attr.aria-label]="'INPUT_TIME' | translate" id="inputField" />
                @if (hasInputError) {
                    <p class="error">{{ 'INVALID_ENTRY' | translate }}</p>
                }
            </div>
        </div>

        <div class="keyboard">
            <custom-keyboard [layout]="'numeric'" (keyPress)="handleChangeInput($event)"></custom-keyboard>
        </div>
    </div>
</div>
