<main>
    @if (!!error && (error.esn || error.code || error.description)) {
        <div class="error-wrapper">
            <div>
                <div>
                    <h2 class="text-bold">{{ buildErrorText(error) }}</h2>
                </div>
            </div>
        </div>
    }

    @if (listOfMsgInQueue.length > 0) {
        <div class="tc-no-response">
            <div>
                <h1>{{ 'TC_NO_RESPONSE' | translate }}</h1>
                <button class="btn" (click)="handleButtonSound(); resetTcNoResponse()">
                    <img src="/assets/images/svg/cancel.svg" alt="" />
                    <span>{{ 'CLOSE' | translate }}</span>
                </button>
            </div>
        </div>
    }
    
    @if (isConnecting) {
        <div class="disconnected-wrapper">
            <app-header screen="" [disconnect]="true"></app-header>
            <disconnect></disconnect>
        </div>
    }
    <router-outlet></router-outlet>
    @if (shuttingDown.show) {
        <app-shutting-down [message]="shuttingDown.message || ''"></app-shutting-down>
    }
</main>
