@use 'variables' as *;

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .progress-wrapper {
        height: 100%;
        @include flex-center;
        flex-direction: column;
    }

    .title {
        font-size: 32px;
        font-weight: $font-weight-bold;
        text-align: center;
    }

    .content {
        margin: 0 auto;
        text-align: center;
        font-size: 28px;
        width: 720px;

        p {
            font-size: 28px;
            line-height: 2;
        }
    }

    .progress-bar {
        margin: 0 auto;
        margin-top: 4rem;
        width: 300px;
        background-color: $white;

        .progress {
            background-color: $color-green;
            height: 24px;
        }
    }

    .back-button {
        @include back-button;
        font-weight: $font-weight-bold;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .button {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 1;
        }

        h2 {
            font-weight: $font-weight-bold;
        }

        span {
            padding-left: 5px;
            font-size: 18px;
        }
    }

    .input-group {
        text-align: left;
        padding-top: 12rem;

        p {
            font-size: 32px;
            font-weight: $font-weight-bold;
            text-align: center;
        }

        input {
            width: 100%;
            height: 72px;
            font-size: 28px;
            padding: 10px;
            margin-top: 10px;
            background-color: #475057;
            border: none;
            color: $white;
            font-weight: $font-weight-light;
            border-radius: 4px;
            box-shadow: inset 0 4px 4px rgb(0 0 0 / 0.25);
            transition: all 0.3s ease-in-out;

            &.hasError {
                border: 1px solid $color-red-light !important;
            }
        }

        .error {
            color: $color-red-light;
            text-align: left;
            font-weight: $font-weight-regular;
            font-size: 28px;
        }
    }

    .keyboard {
        background-color: $black;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

.error-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    .error-message {
        position: absolute;
        top: -80px;
        left: 0;
        background-color: #9f0f0f;
        width: 100%;
        min-height: 130px;
        padding: 12px;
        display: flex;
        align-items: center;
        font-size: 32px;
        font-weight: $font-weight-bold;
        z-index: 3000;
        gap: 12px;

        h2 {
            flex: 1;
        }

        .btn {
            @include flex-center;
            min-height: 80px;
            padding: 0 20px;
            border-radius: 5px;
            transition: 0.2s ease-in-out 0s;
            display: flex;
            background-color: $white;
            color: $black;
            font-size: 32px;
            gap: 12px;
            cursor: pointer;

            &:active {
                transform: scale(1.01);
            }

            span {
                font-size: 22px;
                font-weight: $font-weight-bold;
                padding-left: 6px;
                color: $white;
            }

            &-cancel {
                background-color: $madt-color-red;
            }

            &-confirm {
                background-color: $madt-bg-light-1;
            }
        }
    }

    .content {
        max-width: 690px;
        width: 100%;
        margin-top: 5rem;

        > img {
            margin-top: 1.5rem;
            max-width: 435px;
            width: 100%;
            height: auto;
        }
    }

    .lang-cont {
        padding: 20px;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        button {
            min-width: 0px;
        }
        .active {
            text-decoration: underline;
            font-weight: bold;
            color: $color-yellow-1;
        }
    }
}

.termination {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title,
    .content {
        margin-top: 12px;
    }
}
