<ng-container>
    <!-- <app-header screen="maintenance"></app-header> -->
    <div class="maintenance-container">
        <div class="maintenance-page">
            <div class="button-control">
                @for (button of buttons; track button) {
                    <div class="button" (click)="handleButtonSound(); button.onClick(button.link)">
                        <div class="icon-text">
                            <img style="margin-bottom: 5px" src="{{ button.icon }}" alt="" />
                            <div class="text">{{ button.title | translate }}</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</ng-container>
