<div class="navbar-container">
    @for (button of buttonList; track button.label) {
        <button
            type="button"
            class="nav-item"
            (click)="handleButtonSound(); onChangeTab(button.url)"
            [class.active-link]="isRouteActive(button.key)"
        >
            @if (isRouteActive(button.key)) {
                <img [src]="button.activeImg" class="nav-icon" alt="{{ button.label }}" />
            } @else {
                <img [src]="button.img" class="nav-icon" alt="{{ button.label }}" />
            }
            {{ button.label }}
        </button>
    }
</div>
