@use 'variables' as *;
@use 'dedup-mixins' as *;

.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 3.5rem;

    ul {
        margin-top: 3.5rem;
    }

    .language-opt {
        font-size: 28px;
        padding: 18px 16px;
        width: 500px;
        background-color: $madt-bg-charcoal-2;
        margin-top: 12px;
        cursor: pointer;
        text-align: left;

        &.active {
            font-weight: $font-weight-bold;
            background-color: $madt-bg-light-1;
        }
    }

    .btn-group {
        @include flex-center;
        gap: 32px;
        margin-top: 3.5rem;

        .btn {
            @include standard-action-btn-styles($cursor-pointer: true);
        }
    }
}
