<div class="bls-information-page">
    @if (isLoading || ResponseStatus.PROGRESS === blsInformation.status) {
        <div class="loading">
            <img class="loader" src="/assets/images/svg/spinner.svg" alt="" />
            <div>{{ 'LOADING' | translate }}</div>
        </div>
    } @else if (ResponseStatus.ERROR === blsInformation.status) {
        <common-pop-up
            [type]="'error'"
            [title]="blsInformation.message || 'BLS_DISCONNECTED'"
            [message]="'PLEASE_CHECK_BLS_CONNECTION'"
            [fullScreen]="true"
            [disableSound]="true"
        >
        </common-pop-up>
    } @else {
        <h3 class="title">{{ 'BLS_INFORMATION' | translate }}</h3>
        <div class="table-container">
            <app-scrollbar>
                <table class="table">
                    <!-- <tr>
                <th>
                    <div class="table-header">
                        <p>{{ 'NAME' | translate }}</p>
                        <img
                            src="/assets/images/icons/maintenance/sort-asc.svg"
                            alt=""
                            [class]="sort['name']"
                            (click)="handleButtonSound(); handleSort('name')"
                        />
                    </div>
                </th>
                <th>
                    <div class="table-header">
                        <p>{{ 'STATUS' | translate }}</p>
                        <img
                            src="/assets/images/icons/maintenance/sort-asc.svg"
                            alt=""
                            [class]="sort['status']"
                            (click)="handleButtonSound(); handleSort('status')"
                        />
                    </div>
                </th>
            </tr> -->
                    @for (bls of this.blsInformation.blsList; track bls.name) {
                        <tr>
                            <td>{{ bls.name | translate }}</td>
                            <td>{{ bls.value | translate }}</td>
                        </tr>
                    }
                </table>
            </app-scrollbar>
        </div>
    }
</div>
