@use 'variables' as *;
@use 'dedup-mixins' as *;

.redetect-crp-page {
    text-align: center;
    height: 100%;

    .progress-wrapper {
        margin-top: 100px;
    }

    .title {
        font-size: 32px;
        font-weight: $font-weight-bold;
    }

    .content {
        margin: 0 auto;
        width: 550px;
        text-align: center;
        font-size: 28px;

        p {
            font-size: 28px;
            line-height: 2;
        }
    }

    .button {
        @include dark-button;
        font-size: 18px;
        font-weight: $font-weight-bold;
        height: 54px;
        width: 110px;
        margin: auto;
        margin-top: 20px;
        flex-direction: row;
        background: $madt-bg-light-1;

        &::before {
            content: none;
        }

        .text {
            padding-left: 6px;
        }

        &:active {
            transform: scale(1.01);
        }
    }

    .progress-bar {
        margin: 0 auto;
        width: 300px;
        background-color: $white;
        margin-top: 16px;

        .progress {
            background-color: $color-green;
            height: 24px;
        }
    }

    .confirmation {
        @include standard-confirmation-actions-styles;
    }
}
