<div class="redetect-crp-page">
    @if (step === 1) {
        <div class="progress-wrapper">
            <h2 class="title">{{ 'SCANNING_FOR_CRP_DEVICE' | translate }}</h2>
            <div class="content">{{ 'PLEASE_WAIT' | translate }}</div>
            <div class="progress-bar" content>
                <div class="progress" [ngStyle]="{ width: progress + '%' }"></div>
            </div>
        </div>
    }

    @if (step === 2) {
        <div class="confirmation">
            <h2 class="title">{{ 'SUCCESS' | translate }}</h2>
            <div class="content">
                <div class="confirm">{{ 'CRP_INSTALLED' | translate }}</div>
                <div class="btn-group">
                    <div
                        class="btn btn-confirm"
                        (click)="handleButtonSound(); handleFinishTransaction()"
                        tabindex="0"
                        (keydown.enter)="handleButtonSound(); handleFinishTransaction()"
                        (keydown.space)="handleButtonSound(); handleFinishTransaction()"
                    >
                        <img src="/assets/images/icons/main/confirm.svg" alt="" />
                        <span>{{ 'OKAY' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
