@use 'variables' as *;
@use 'dedup-mixins' as *;

.test-print-page {
    @include fare-console-test-print-page-styles(
        $title-margin-bottom: 20px,
        $button-font-size: 22px,
        $button-min-height: 80px,
        $button-padding: 0 24px
    );
}
