<!-- <div class="lta-full-screen">
    <div class="lta-wrapper">
        <div class="lta-block">
            <div class="lta-logo"></div>
            <h3 class="title">{{ 'MADT_DISCONNECTED_FROM_FARE' | translate }}</h3>
            <p class="content">{{ 'MADT_DISCONNECTED_FROM_FARE_CAPTION' | translate }}</p>
        </div>
    </div>
</div> -->

<div class="lta-full-screen">
    <div class="lta-wrapper">
        <div class="lta-logo"></div>
        <h3 class="title">{{ 'MADT_DISCONNECTED_FROM_FARE' | translate }}</h3>
        <div class="content">{{ 'MADT_DISCONNECTED_FROM_FARE_CAPTION' | translate }}</div>
    </div>
</div>
