@use 'variables' as *;
@use 'dedup-mixins' as *;

.free-container {
    background-color: $madt-bg-dark-1;
    padding: 20px 15px;
    height: 100%;
    border-radius: 4px;

    .page-header {
        @include page-header-with-button-styles;
    }

    .confirm {
        margin-top: 100px;
        @include flex-center;
        flex-direction: column;

        @include confirm-header-dialog-title-styles($include-standard-content: true);

        .cf-btn-group {
            @include flex-center;
            gap: 32px;
            margin-top: 20px;

            .btn {
                @include standard-action-btn-styles;
            }
        }
    }
}
