@use 'variables' as *;

@mixin lta-toggle-cv-theme($light-theme: false) {
    @if $light-theme {
        .toggle-cv-container {
            box-shadow: 1px 1px 5px #ccc;
            background-color: #f2f2f2 !important;
            color: $black;

            .button-control {
                .button {
                    color: $black !important;
                    background: linear-gradient(to bottom right, #e5e5e5 18%, #e5e5e5 50%) !important;
                    box-shadow: inset 0px -5px 8px #ccc;

                    &::before {
                        background: $white !important;
                        box-shadow: inset 0px -5px 8px #ccc;
                    }
                }
            }
        }
    }
}
