<div class="device-operation-content">
    <div class="back-button" (click)="handleButtonSound(); handleBack()">{{ 'BACK' | translate }}</div>
    <h1 class="device-operation-title">{{ 'SELECT_PRINTER_OPERATIONS' | translate }}</h1>
    <div class="device-operation-button-group">
        @for (button of buttons; track button) {
            <button class="device-operation-button" (click)="handleButtonSound(); handleClick(button.btn)">
                {{ button.title | translate }}
            </button>
        }
    </div>
</div>
