<div class="device-operation-content">
    <button type="button" class="back-button" (click)="handleButtonSound(); handleBack()">
        {{ 'BACK' | translate }}
    </button>
    <h1 class="device-operation-title">{{ 'SELECT_PRINTER_OPERATIONS' | translate }}</h1>
    <div class="device-operation-button-group">
        @for (button of buttons; track button) {
            <button class="device-operation-button" (click)="handleButtonSound(); handleClick(button.btn)">
                {{ button.title | translate }}
            </button>
        }
    </div>
</div>
