@use '@angular/material' as mat;
@use 'variables' as *;

@include mat.elevation-classes();
@include mat.app-background();

// // @import '../app/views/bus-operation/end-shift/end-shift.theme';
// // @import '../app/views/bus-operation/external-devices/external-devices.theme';

$lta-white: (
    500: white,
    contrast: (
        500: black,
    ),
);

$lta-black: (
    500: black,
    contrast: (
        500: white,
    ),
);

$md-dark-primary: (
    50: #f6e2e2,
    100: #e8b7b7,
    200: #d98888,
    300: #c95858,
    400: #be3434,
    500: $madt-color-red,
    600: #ab0e0e,
    700: #a20c0c,
    800: #990909,
    900: #8a0505,
    A100: #ffb7b7,
    A200: #ff8484,
    A400: #ff5151,
    A700: #ff3737,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #ffffff,
    ),
);
$md-dark-secondary: (
    50: #e1eff1,
    100: #b3d7dd,
    200: #80bdc6,
    300: #4da2af,
    400: #278e9e,
    500: #017a8d,
    600: #017285,
    700: #01677a,
    800: #015d70,
    900: #004a5d,
    A100: #8ee3ff,
    A200: #5bd7ff,
    A400: #28caff,
    A700: #0ec4ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

// @mixin lta-core-theme($light-theme) {
//     // // Theming for lta components

//     // @include lta-device-operation-layout-theme($light-theme);
//     // @include lta-cv-operation-menu-theme($light-theme);
//     // @include lta-show-cv-status-theme($light-theme);
//     // @include lta-set-cv-entry-exit-theme($light-theme);
//     // @include lta-cv-mode-control-theme($light-theme);
//     // @include lta-power-all-cv-theme($light-theme);
//     // @include lta-reset-all-cv-theme($light-theme);
//     // @include lta-cv-power-control-theme($light-theme);
//     // @include lta-manual-location-theme($light-theme);
//     // @include lta-auto-location-theme($light-theme);
//     // @include lta-inspector-ticket-theme($light-theme);
//     // @include lta-daily-trip-log-theme($light-theme);
//     // @include lta-test-receipt-theme($light-theme);
//     // @include lta-printer-on-off-theme($light-theme);
//     // @include lta-printer-status-theme($light-theme);

//     // @include lta-bus-operation-layout-theme($light-theme);
//     // @include lta-bus-operation-menu-theme($light-theme);
//     // @include lta-start-trip-theme($light-theme);
//     // @include lta-end-shift-theme($light-theme);
//     // @include lta-external-devices-theme($light-theme);
// }

// Angular Material typography
$regular-font-family: "'Inter', sans-serif";
$custom-typography-config: mat.m2-define-typography-config(
    $font-family: $regular-font-family,
);

$dark-theme: mat.m2-define-dark-theme(
    (
        color: (
            primary: mat.m2-define-palette($md-dark-primary),
            accent: mat.m2-define-palette($md-dark-secondary, 500),
        ),
        // Only include `typography` and `density` in the default dark theme.
        // typography: mat.define-typography-config(),
        typography: $custom-typography-config,
        density: 0,
    )
);

// Apply the dark theme by default
.dark-theme {
    @include mat.elevation-classes();
    @include mat.app-background();
    @include mat.button-theme($dark-theme);
    @include mat.all-component-themes($dark-theme);
}

$light-theme: mat.m2-define-light-theme(
    (
        color: (
            primary: mat.m2-define-palette(mat.$m2-indigo-palette),
            accent: mat.m2-define-palette(mat.$m2-pink-palette),
        ),
        // typography: mat.define-typography-config(),
        typography: $custom-typography-config,
        density: 0,
    )
);

.light-theme {
    @include mat.elevation-classes();
    @include mat.app-background();
    @include mat.button-color($light-theme);
    @include mat.all-component-colors($light-theme);
}
