<div class="redetect-cv-page">
    @if (redetectCV.status === ResponseStatus.SUCCESS) {
        <div class="redect-cv-dialog">
            <div class="redect-cv-dialog-header">
                <h3>{{ 'CONFIRMED_INSTALLED_CV_DEVICES' | translate }}</h3>
            </div>
            <div class="redect-cv-dialog-content">
                <div class="scrollbar">
                    <app-scrollbar>
                        <table class="table stripped">
                            @for (cv of redetectCV.cvList; track cv.cvNum) {
                                <tr>
                                    <th>CV{{ cv.cvNum }}</th>
                                    <td>{{ cv.status | translate }}</td>
                                    <td>{{ cv.position | translate }}</td>
                                </tr>
                            }
                        </table>
                    </app-scrollbar>
                </div>
            </div>
            <div
                class="confirm-button"
                (click)="handleButtonSound(); handleClickOK()"
                tabindex="0"
                (keydown.enter)="handleButtonSound(); handleClickOK()"
            >
                <img src="/assets/images/icons/main/confirm.svg" alt="" />
                <span class="text">{{ 'OK' | translate }}</span>
            </div>
        </div>
    } @else if (redetectCV.status === ResponseStatus.PROGRESS) {
        <div class="loading">
            <img class="loader" src="/assets/images/svg/spinner.svg" alt="" />
            <div [innerHTML]="('SCANNING_FOR_CV_DEVICES' | translate) + '...'"></div>
        </div>
    } @else {
        <div>
            <h2 class="title">{{ 'REDETECT_CV' | translate }}</h2>
            <div class="content">
                <p>{{ 'PRESS_THE_BTN_TO_PROCEED' | translate }}</p>
                <div
                    class="button"
                    (click)="handleButtonSound(); handleClickButton()"
                    tabindex="0"
                    (keydown.enter)="handleButtonSound(); handleClickButton()"
                >
                    <img src="/assets/images/icons/main/confirm.svg" alt="" />
                    <div class="text">{{ 'CONFIRM' | translate }}</div>
                </div>
            </div>
        </div>
    }
</div>
