<!-- <div class="calibrate-bls-page">
    <h2 class="title">BLS Calibration Functions</h2>
    <div class="content">
        <div class="button-group">
            <div class="button" (click)="handleButtonSound(); handleNavigate('/maintenance/fare/calibrate-bls/manual-input')">
                Manual Input
            </div>
            <div class="button" (click)="handleButtonSound(); handleNavigate('/maintenance/fare/calibrate-bls/bls-calibration')">
                BLS Calibration
            </div>
        </div>
    </div>
</div> -->

<router-outlet></router-outlet>
