@use 'variables' as *;
@use 'dedup-mixins' as *;

.wrapper {
    @include flex-center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 12px;

    .fare-console-setting {
        @include flex-center;
        flex-direction: column;
        gap: 12px;
        padding: 20px 0;
    }

    .scrollbar {
        overflow: hidden;
    }

    h1 {
        margin-top: 2rem;
    }

    .fare-console-table {
        width: 900px;
    }

    ul {
        margin-top: 1rem;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $madt-bg-dark-2;
        margin-bottom: 8px;

        .left {
            font-size: 28px;
            text-align: left;
            padding: 16px 12px;
            width: 460px;
            border-right: 2px solid $madt-bg-dark-1;
        }

        .right {
            font-size: 28px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            padding: 16px 12px;
            color: $madt-bg-light-1;

            .value {
                color: $white;
                font-weight: $font-weight-bold;
            }
        }
        .red {
            color: #ef2626;
            font-weight: $font-weight-bold;
        }

        .required {
            border: 1px solid $white;

            .value {
                font-style: italic;
            }

            &.highlight {
                border: 1px solid $color-red-light !important;
            }
        }
    }

    .ng-scrollbar {
        @include scrollbar;
        height: 100%;
    }

    ::ng-deep {
        .scrollbar-track {
            @include scrollbar-track;
        }
        .scrollbar-thumb {
            @include scrollbar-thumb;
        }
        .scrollbar-button {
            @include scrollbar-button;
        }
    }

    .btn-group {
        @include flex-center;
        gap: 32px;
        position: relative;

        &.w-900 {
            width: 900px;
        }

        &.mb-20 {
            margin-bottom: 20px;
        }

        .btn {
            @include flex-center;
            min-height: 80px;
            padding: 0 25px;
            border-radius: 5px;
            transition: 0.2s ease-in-out 0s;
            cursor: pointer;

            &:active {
                transform: scale(1.01);
            }

            span {
                font-size: 22px;
                font-weight: $font-weight-bold;
                padding-left: 6px;
                color: $white;
            }

            &-cancel {
                background-color: $madt-color-red;
            }

            &-confirm {
                background-color: $madt-bg-light-1;
            }
        }

        .pos-abs {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .layout {
        height: 100%;
        width: 100%;
        background-color: $madt-bg-dark-1;
    }

    .madt-breadcrumb {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        @include breadcrumb;
    }

    .madt-content {
        padding: 16px 20px;
        height: calc(100% - 64px);
    }
}

.deck-type {
    @include fare-console-deck-type-styles;
}

.bls {
    height: 100%;
    text-align: center;
    @include flex-center;

    @include fare-console-bls-shared-content-styles;

    .button {
        @include dark-button;
        font-size: 22px;
        font-weight: $font-weight-bold;
        flex-direction: row;
        background: $madt-bg-light-1;
        padding: 16px 25px;
        min-height: 80px;

        &:first-child {
            background-color: $madt-color-red;
        }

        &:disabled {
            background-color: $madt-bg-light-1 !important;
            opacity: 0.7;
            cursor: not-allowed;
        }

        &::before {
            content: none;
        }

        .text {
            padding-left: 6px;
        }

        &:active {
            transform: scale(1.01);
        }
    }

    .btn {
        @include standard-action-btn-styles($button-padding: 0 20px);
    }
}

.time-setting {
    @include fare-console-date-setting-styles(
        $input-block-extra-font-size: true,
        $btn-group-gap: 32px,
        $button-padding: 16px 25px,
        $button-text-padding-left: 6px,
        $content-line-height-p: false
    );
}

.complimentary-day {
    @include fare-console-complimentary-day-styles;
}

.delete-parameter {
    @include fare-console-delete-parameter-styles($root-position-relative: true);
}

.bus-id {
    @include fare-console-bus-id-styles($list-max-width: 909px, $list-margin-auto: true);

    .loading {
        @include flex-center;
        flex-direction: column;
        height: 100%;

        > div {
            font-size: 40px;
            font-weight: $font-weight-bold;
            margin-top: 20px;
            @include dot-loading;
        }

        .loader {
            @include spinner;
        }
    }

    .spid {
        @include fare-console-time-setting-styles(
            $content-line-height-p: true,
            $input-group-margin-top: 50px,
            $input-transition-and-error: true
        );
    }
}

.bus-id-error {
    @include fare-console-bus-id-error-styles;
}

.fare-console-error {
    height: 100%;
    text-align: center;
    @include flex-center;
    position: relative;

    .title {
        font-size: 32px;
        font-weight: $font-weight-bold;
        margin-bottom: 12px;
        margin-top: 8px;

        .icon {
            transform: scale(2.5);
            color: $color-green;
        }
    }

    .content {
        margin: 0 auto;
        width: 900px;
        text-align: center;
        font-size: 28px;
        margin-bottom: 12px;
    }

    ul {
        margin: 0 auto;
        width: 400px;
        font-size: 28px;
        margin-bottom: 12px;
        text-align: left;
        padding-left: 60px;

        li {
            list-style: disc;
        }
    }

    @include standard-btn-group-actions-styles($btn-min-width: 145px, $include-ok: true);
}

@include fare-console-mat-select-overrides;
