@use 'variables' as *;

.end-shift-page {
    height: calc(100vh - $header-footer-height);
    background-color: $madt-bg-dark-3;
    position: relative;
    padding: 20px;
    border-radius: 4px;

    .dialog {
        margin-top: 105px;
        @include flex-center;
        flex-direction: column;

        .dialog-header {
            font-size: 32px;
            font-weight: $font-weight-semi-bold;

            p {
                text-align: center;
                margin-bottom: 12px;
            }
        }

        .confirm-msg {
            font-size: 28px;
        }

        .cf-btn-group {
            @include flex-center;
            gap: 32px;
            margin-top: 20px;

            .btn {
                @include flex-center;
                min-height: 80px;
                padding: 0 25px;
                border-radius: 5px;
                transition: 0.2s ease-in-out 0s;

                &:active {
                    transform: scale(1.01);
                }

                span {
                    font-size: 22px;
                    font-weight: $font-weight-bold;
                    padding-left: 6px;
                    color: $white;
                }

                &-cancel {
                    background-color: $madt-color-red;
                }

                &-confirm {
                    background-color: $madt-bg-light-1;
                }
            }
        }
    }

}
