@use 'variables' as *;
@use 'dedup-mixins' as *;

.end-shift-page {
    height: calc(100vh - $header-footer-height);
    background-color: $madt-bg-dark-3;
    position: relative;
    padding: 20px;
    border-radius: 4px;

    .dialog {
        @include error-confirm-dialog-styles($include-error-icon: false, $margin-top: 105px);
    }

    // .title {
    // }

    // .odo {

    //     .header {
    //     }

    //     .title {
    //     }

    //     .close-btn {

    //         span {
    //         }
    //     }

    //     .confirm-button {

    //         &:active {
    //         }

    //         span {
    //         }
    //     }

    //     .odo-title {

    //         h3 {
    //         }
    //     }

    //     &-content {

    //         .scrollbar {
    //         }

    //         .table {

    //             tr {
    //                 .table-header {
    //                 }

    //                 th {

    //                     .radio {
    //                     }
    //                 }

    //                 td {

    //                     &:not(:first-child) {
    //                     }
    //                 }

    //                 .radio {
    //                 }
    //             }

    //             tr:nth-child(odd) > th,
    //             tr:nth-child(odd) > td {
    //             }

    //             tr:nth-child(even) > th,
    //             tr:nth-child(even) > td {
    //             }
    //         }
    //     }

    //     .input-group {

    //         p {
    //         }

    //         input {
    //         }
    //     }

    //     .keyboard {
    //     }
    // }
}
