<div class="printer-status">
    @if (printStatus.printerStatus === 2) {
        <common-pop-up
            [type]="'error'"
            [title]="'OUT_OF_SERVICE'"
            [message]="'PRINTER_NOT_IN_SERVICE'"
            [fullScreen]="true"
            [disableSound]="true"
            [isOk]="true"
            (ok)="backToPrinterOperation()"
        >
        </common-pop-up>
    } @else if (printStatus.printerStatus === 3) {
        <common-pop-up
            [type]="'error'"
            [title]="'ERROR'"
            [message]="'UNABLE_TO_COM_PRINTER'"
            [fullScreen]="true"
            [disableSound]="true"
            [isOk]="true"
            (ok)="backToPrinterOperation()"
        >
        </common-pop-up>
    } @else {
        <common-pop-up
            [type]="'success'"
            [title]="'IN_SERVICE'"
            [message]="'PRINTER_IS_IN_SERVICE'"
            [fullScreen]="true"
            [disableSound]="true"
            [isOk]="true"
            (ok)="backToPrinterOperation()"
        >
        </common-pop-up>
    }
</div>
