@if (printerStatus.status === responseStatus.PROGRESS) {
    <div class="loading">
        <img class="loader" src="/assets/images/svg/spinner.svg" alt="" />
        <div>{{ 'TURN_PRINTER_ON' | translate }}</div>
    </div>
} @else if (printerStatus.status === responseStatus.ERROR) {
    <common-pop-up
        [type]="'error'"
        [title]="'ERROR'"
        [message]="'PRINTER_FUNCTIONS'"
        [fullScreen]="true"
        [disableSound]="true"
        [isOk]="true"
        (ok)="backToPrinterOperation()"
    >
    </common-pop-up>
} @else {
    <common-pop-up
        [type]="'success'"
        [title]="'SUCCESS'"
        [message]="'PRINTER_ON'"
        [fullScreen]="true"
        [disableSound]="true"
        [isOk]="true"
        (ok)="backToPrinterOperation()"
    >
    </common-pop-up>
}
