@use 'variables' as *;

.inspector-ticket {
    height: 100%;
    text-align: center;
    position: relative;

    .back-button {
        @include back-button;
        font-weight: $font-weight-bold;
        position: absolute;
        top: 0;
        left: 0;
    }

    .title {
        font-size: 32px;
        font-weight: $font-weight-bold;
        margin-bottom: 10px;
    }

    .content {
        margin: 0 auto;
        width: 700px;
        text-align: center;

        .label,
        .value {
            font-size: 28px;
        }

        .value {
            font-weight: $font-weight-bold;
        }

        p {
            line-height: 1.5;
        }
    }

    .btn-group {
        @include flex-center;
        gap: 32px;
    }

    .button {
        @include dark-button;
        font-size: 18px;
        font-weight: $font-weight-bold;
        margin-top: 20px;
        flex-direction: row;
        background: $madt-bg-light-1;
        padding: 16px 20px;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &::before {
            content: none;
        }

        .text {
            padding-left: 8px;
        }

        &:active {
            transform: scale(1.01);
        }
    }
}
