@use 'variables' as *;
@use 'dedup-mixins' as *;

.test-print-page {
    @include fare-console-test-print-page-styles(
        $title-margin: 30px 0,
        $button-font-size: 18px,
        $button-height: 54px,
        $button-width: 123px
    );
}
