@use 'variables' as *;
@use 'dedup-mixins' as *;

@mixin lta-breakdown-theme($light-theme: false) {
    @if $light-theme {
        .breakdown-container {
            box-shadow: 1px 1px 5px #ccc;
            background-color: #f2f2f2 !important;
            color: $black;

            @include lta-trip-summary-theme-shared-content;
        }
    }
}
