@use 'variables' as *;
@use 'dedup-mixins' as *;

:host {
    position: relative;
}

.breakdown-container {
    background-color: $madt-bg-dark-1;
    padding: 20px 15px;
    height: 100%;
    border-radius: 4px;

    @include trip-summary-container-styles(
        $confirm-margin-top: 100px,
        $confirm-msg-margin-bottom: 20px,
        $content-list-margin-bottom: true,
        $value-text-align-left: true,
        $print-btn-confirm-padding: 30px,
        $print-complimentary-padding-top: 20px
    ) {
        .breakdown-info {
            padding-top: 40px;
        }
    }

    // .m-w {
    // }

    // .lta-full-screen {

    //     .lta-logo {
    //     }
    // }
}

.loading {
    @include flex-center;
    flex-direction: column;
    height: 100%;

    > div {
        font-size: 40px;
        font-weight: $font-weight-bold;
        margin-top: 20px;
        @include dot-loading;
    }

    .loader {
        @include spinner;
    }
}

.error-wrapper {
    height: 100%;

    @include flex-center;
    flex-direction: column;

    > img {
        display: block;
        margin-bottom: 16px;
    }
}
