<div class="select-boarding-type">
    <div
        class="back-button"
        (click)="handleButtonSound(); handleBack()"
        tabindex="0"
        role="button"
        (keydown.enter)="handleButtonSound(); handleBack()"
        (keydown.space)="handleButtonSound(); handleBack()"
    >
        {{ 'BACK' | translate }}
    </div>
    <div>
        <h2 class="title">{{ 'SET_SV_ENTRY_EXIT' | translate }}</h2>
        <div class="content">
            <div
                class="row"
                [ngClass]="{ selected: cvType === 1 }"
                (click)="handleButtonSound(); handleSelectType(1)"
                tabindex="0"
                role="button"
                (keydown.enter)="handleButtonSound(); handleSelectType(1)"
                (keydown.space)="handleButtonSound(); handleSelectType(1)"
            >
                <p class="label">{{ 'SET_ALL_TO_AUTO' | translate }}</p>
            </div>
            <div
                class="row"
                [ngClass]="{ selected: cvType === 2 }"
                (click)="handleButtonSound(); handleSelectType(2)"
                tabindex="0"
                role="button"
                (keydown.enter)="handleButtonSound(); handleSelectType(2)"
                (keydown.space)="handleButtonSound(); handleSelectType(2)"
            >
                <p class="label">{{ 'SET_ALL_TO_EXIT' | translate }}</p>
            </div>
            <div
                class="row"
                [ngClass]="{ selected: cvType === 3 }"
                (click)="handleButtonSound(); handleSelectType(3)"
                tabindex="0"
                role="button"
                (keydown.enter)="handleButtonSound(); handleSelectType(3)"
                (keydown.space)="handleButtonSound(); handleSelectType(3)"
            >
                <p class="label">{{ 'SET_ALL_TO_NORMAL' | translate }}</p>
            </div>
        </div>
    </div>

    <div class="btn-group">
        <button class="btn btn-cancel" (click)="handleButtonSound(); handleSubmitType(false)">
            <img src="/assets/images/icons/main/close.svg" alt="" />
            <span>{{ 'CANCEL' | translate }}</span>
        </button>
        <button class="btn btn-confirm" (click)="handleButtonSound(); handleSubmitType(true)">
            <img src="/assets/images/icons/main/confirm.svg" alt="" />
            <span>{{ 'CONFIRM' | translate }}</span>
        </button>
    </div>
</div>
