@use 'variables' as *;

.select-boarding-type {
    height: 100%;
    text-align: center;
    position: relative;

    .back-button {
        @include back-button;
        font-weight: $font-weight-bold;
        position: absolute;
        top: 0;
        left: 0;
    }

    .title {
        font-size: 32px;
        font-weight: $font-weight-bold;
        padding-bottom: 10px;
    }

    h4 {
        padding: 12px 0;
        font-size: 28px;

        strong {
            padding: 5px 8px;
            border-radius: 8px;
            background: white;
            color: black;
        }
    }

    .content {
        margin: 0 auto;
        width: 560px;
        text-align: center;

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            margin-top: 8px;
            background-color: $madt-bg-dark-2;
            border-radius: 4px;

            &.selected {
                background-color: $madt-bg-light-1 !important;

                .label {
                    font-weight: $font-weight-bold !important;
                }
            }

            .label {
                font-size: 28px;
                font-weight: $font-weight-regular;
                color: $white;
            }
        }
    }

    .btn-group {
        @include flex-center;
        gap: 32px;
        margin-top: 80px;
    }

    .btn {
        @include flex-center;
        min-height: 80px;
        padding: 0 25px;
        border-radius: 5px;
        transition: 0.2s ease-in-out 0s;
        min-width: 145px;

        &:active {
            transform: scale(1.01);
        }

        span {
            font-size: 22px;
            font-weight: $font-weight-bold;
            padding-left: 6px;
            color: $white;
        }

        &-cancel {
            background-color: $madt-color-red;
        }

        &-confirm,
        &-ok {
            background-color: $madt-bg-light-1;
        }
    }
}
