<div class="cancel-ride">
    <div class="layout">
        <div class="madt-breadcrumb">
            <img src="/assets/images/icons/ticketing/ticket.svg" alt="" />
            <a>{{ 'FARE_SYSTEM' | translate }}</a>
            <span><img src="/assets/images/svg/chevron-right.svg" alt="arrow" /></span>
            <p>{{ (cv === 'CV1' ? 'CANCEL_RIDE_CV1' : 'CANCEL_RIDE_CV2') | translate }}</p>
        </div>
        <div class="madt-content">
            @if (cancelRide.msgID === MsgID.FARE_CANCEL_RIDE_SUBMIT) {
                <div class="dialog">
                    <div class="dialog-header">
                        <p [innerHTML]="'CANCEL_RIDE_CV_IN_PROGRESS' | translate: { cv: cv }"></p>
                    </div>
                    <p class="confirm-msg">{{ 'PRESS_X_BTN_TO_CANCEL' | translate }}</p>
                    <div class="btn-group">
                        <button class="btn btn-cancel" (click)="handleButtonSound(); handleStopCancelRide()">
                            <img src="/assets/images/icons/main/close.svg" alt="" />
                            <span>{{ 'CANCEL' | translate }}</span>
                        </button>
                    </div>
                </div>
            } @else if (cancelRide.msgID === MsgID.FARE_CANCEL_RIDE_SUBMIT_NOTIFY) {
                @if (ResponseStatus.SUCCESS === cancelRide.status) {
                    <common-pop-up
                        [type]="'success'"
                        [title]="'SUCCESS' | translate"
                        [message]="'CV_IS_CANCELLED' | translate: { cv: cv }"
                        [fullScreen]="true"
                        [disableSound]="true"
                        [isOk]="true"
                        (ok)="backToFare()"
                    >
                    </common-pop-up>
                } @else if (ResponseStatus.ERROR === cancelRide.status) {
                    <common-pop-up
                        [type]="'error'"
                        [title]="'CARD_ERROR' | translate"
                        [message]="cancelRide.message || ''"
                        [fullScreen]="true"
                        [disableSound]="true"
                        [isOk]="true"
                        (ok)="backToProgressScreen()"
                    >
                    </common-pop-up>
                }
            } @else {
                <div class="dialog">
                    <div class="dialog-header">
                        <p [innerHTML]="'CANCEL_RIDE' | translate: { cv: cv }"></p>
                    </div>
                    <p class="confirm-msg">{{ 'PRESS_THE_BTN_TO_PROCEED' | translate }}</p>
                    <div class="btn-group">
                        <button class="btn btn-cancel" (click)="handleButtonSound(); handleCancelRide()">
                            <img src="/assets/images/icons/main/close.svg" alt="" />
                            <span>{{ 'CANCEL' | translate }}</span>
                        </button>
                        <button class="btn btn-confirm" (click)="handleButtonSound(); handleConfirmCancelRide()">
                            <img src="/assets/images/icons/main/confirm.svg" alt="" />
                            <span>{{ 'CONFIRM' | translate }}</span>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
