<div class="complimentary-day">
    <div
        class="back-button"
        (click)="handleButtonSound(); goBack()"
        tabindex="0"
        (keydown.enter)="handleButtonSound(); goBack()"
        (keydown.space)="handleButtonSound(); goBack()"
    >
        {{ 'BACK' | translate }}
    </div>
    <div>
        <h2 class="title">{{ 'SET_COMPLIMENTARY_DAYS' | translate }}</h2>
        <div class="content">
            <p class="label">
                {{ 'CURRENT_DAYS' | translate }}: <span class="value">{{ fareConsoleSetting.complimentaryDays }}</span>
            </p>
            <div class="input-group">
                <p>{{ 'INPUT_CURRENT_DAYS' | translate }}</p>
                <input
                    [attr.aria-label]="'INPUT_CURRENT_DAYS' | translate"
                    id="inputField"
                    [class.hasError]="hasInputError"
                />
                @if (hasInputError) {
                    <p class="error">
                        {{
                            'EXCEEDED_THE_MAXIMUM_DAYS'
                                | translate: { days: fareConsoleSetting.maximumcomplimentaryDays }
                        }}
                    </p>
                }
            </div>
        </div>

        <div class="keyboard">
            <custom-keyboard [layout]="'numeric'" (keyPress)="handleChangeInput($event)"></custom-keyboard>
        </div>
    </div>
</div>
