@use 'variables' as *;
@use 'dedup-mixins' as *;

:host {
    position: relative;
}

.bls {
    height: 100%;
    text-align: center;
    @include flex-center;

    .back-button {
        @include back-button;
        font-weight: $font-weight-bold;
        position: absolute;
        top: 0;
        left: 0;
    }

    @include fare-console-bls-shared-content-styles;

    .btn {
        @include dark-button;
        @include flex-center;
        font-size: 22px;
        font-weight: $font-weight-bold;
        flex-direction: row;
        background: $madt-bg-light-1;
        padding: 0 20px;
        min-height: 80px;
        border-radius: 5px;
        transition: 0.2s ease-in-out 0s;

        &:first-child {
            background-color: $madt-color-red;
        }

        // &:disabled {
        // }

        &::before {
            content: none;
        }

        .text {
            padding-left: 6px;
        }

        &:active {
            transform: scale(1.01);
        }

        span {
            font-size: 22px;
            font-weight: $font-weight-bold;
            padding-left: 6px;
            color: $white;
        }

        &-cancel {
            background-color: $madt-color-red;
        }

        &-confirm {
            background-color: $madt-bg-light-1;
        }
    }
}
