@use 'variables' as *;
@use 'dedup-mixins' as *;

.fare-console {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;

    .required {
        border: 1px solid $white;

        .value {
            font-style: italic;
        }
    }

    &-list {
        overflow: hidden;

        .scrollbar {
            height: 100%;
        }
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $madt-bg-dark-2;
        margin-bottom: 8px;

        .left {
            font-size: 28px;
            text-align: left;
            padding: 16px 12px;
            width: 460px;
            border-right: 2px solid $madt-bg-dark-1;
        }

        .right {
            font-size: 28px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            padding: 16px 12px;
            color: $madt-bg-light-1;

            .value {
                color: $white;
                font-weight: $font-weight-bold;
            }
        }
        // &:last-child {
        //     .left {
        //     }
        // }
    }

    .ng-scrollbar {
        @include scrollbar;
    }

    ::ng-deep {
        .scrollbar-track {
            @include scrollbar-track;
        }
        .scrollbar-thumb {
            @include scrollbar-thumb;
        }
        .scrollbar-button {
            @include scrollbar-button;
        }
    }

    .content {
        @include fare-console-confirm-content-styles;
    }

    .btn-group {
        @include flex-center;
        gap: 32px;
        margin-top: 20px;
        position: relative;

        .pos-abs {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .btn {
        @include flex-center;
        padding: 15px 25px;
        min-height: 80px;
        border-radius: 4px;
        transition: 0.2s ease-in-out 0s;

        &:active {
            transform: scale(1.01);
        }

        span {
            font-size: 22px;
            font-weight: $font-weight-bold;
            padding-left: 6px;
            color: $white;
        }

        &-cancel {
            background-color: $madt-color-red;
        }

        &-confirm {
            background-color: $madt-bg-light-1;
        }
    }
}
