@use 'variables' as *;

.load-parameter-page {
    text-align: center;
    height: 100%;
    @include flex-center;
    flex-direction: column;

    .loading {
        @include flex-center;
        flex-direction: column;
        height: 100%;

        > div {
            font-size: 40px;
            font-weight: $font-weight-bold;
            margin-top: 20px;
            @include dot-loading;
            white-space: pre-line;
        }

        .loader {
            @include spinner;
        }
    }

    .progress-wrapper {
        .content {
            @include dot-loading;
            white-space: pre-line;
        }
    }

    .title {
        font-size: 32px;
        font-weight: $font-weight-bold;
    }

    .content {
        margin: 0 auto;
        text-align: center;
        font-size: 28px;
        margin-top: 20px;

        p {
            font-size: 28px;
            white-space: pre-wrap;
        }
    }

    .button {
        @include dark-button;
        font-size: 22px;
        font-weight: $font-weight-bold;
        margin: auto;
        margin-top: 20px;
        flex-direction: row;
        background: $madt-bg-light-1;
        min-height: 80px;
        padding: 0 25px;
        border-radius: 5px;
        transition: 0.2s ease-in-out 0s;

        &::before {
            content: none;
        }

        .text {
            padding-left: 6px;
        }

        &:active {
            transform: scale(1.01);
        }
    }

    .progress-bar {
        margin: 0 auto;
        width: 300px;
        background-color: $white;
        margin-top: 16px;

        .progress {
            background-color: $color-green;
            height: 24px;
        }
    }

    .confirmation {
        height: 100%;
        @include flex-center;
        flex-direction: column;

        .confirm {
            font-size: 28px;
            line-height: 2;
        }

        .btn-group {
            @include flex-center;
            gap: 32px;
            margin-top: 20px;
        }

        .btn {
            @include flex-center;
            min-height: 80px;
            padding: 0 25px;
            border-radius: 5px;
            transition: 0.2s ease-in-out 0s;
            min-width: 145px;

            &:active {
                transform: scale(1.01);
            }

            span {
                font-size: 22px;
                font-weight: $font-weight-bold;
                padding-left: 6px;
                color: $white;
            }

            &-cancel {
                background-color: $madt-color-red;
            }

            &-confirm {
                background-color: $madt-bg-light-1;
            }
        }
    }
}
