<div class="load-parameter-page">
    @if (loadParameter.status === ResponseStatus.SUCCESS) {
        <common-pop-up
            [type]="'success'"
            [title]="'SUCCESS'"
            [message]="'PARAMETER_FILES_LOADED'"
            [fullScreen]="true"
            [disableSound]="true"
            [isOk]="true"
            (ok)="handleClickOK()"
        >
        </common-pop-up>
    } @else if (loadParameter.status === ResponseStatus.ERROR) {
        <common-pop-up
            [type]="'error'"
            [title]="'ERROR'"
            [message]="loadParameter.message || 'SEP_PARAMETER_LOADING_FAILED'"
            [fullScreen]="true"
            [disableSound]="true"
            [isOk]="true"
            (ok)="handleClickOK()"
        >
        </common-pop-up>
    } @else if (loadParameter.status === ResponseStatus.PROGRESS) {
        <div class="loading">
            <img class="loader" src="/assets/images/svg/spinner.svg" alt="" />
            <div [innerHTML]="'LOADING_PARAMETERS' | translate"></div>
        </div>
    } @else {
        <div>
            <h2 class="title">{{ 'LOAD_PARAMETERS' | translate }}</h2>
            <div class="content">
                <p [innerHTML]="'PRESS_LOAD_PARAMETER_BUTTON' | translate"></p>
                <button type="button" class="button" (click)="handleButtonSound(); handleClickButton()">
                    <img src="/assets/images/icons/main/confirm.svg" alt="" />
                    <div class="text">{{ 'LOAD_PARAMETERS' | translate }}</div>
                </button>
            </div>
        </div>
    }
</div>
