@use 'variables' as *;
@use 'dedup-mixins' as *;

.version-info-page {
    text-align: center;
    height: 100%;
    margin-right: -20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .loading {
        @include audit-page-loading-styles;
    }

    .error {
        @include standard-error-success-dialog-styles;
    }

    .title {
        @include audit-table-page-title-styles;
    }

    @include ng-scrollbar-deep-styles;
    @include audit-table-container-styles;

    .real-table {
        th {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            cursor: not-allowed;
        }
    }

    .table {
        @include audit-table-styles;
    }
}
