@use 'variables' as *;

.fare-layout {
    display: flex;
    flex-direction: column;
    height: 100%;

    main {
        position: relative;
        flex: 1;
        overflow: hidden;
    }
}

.loading {
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.98;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $madt-bg-black-1;
}

.warning-box {
    @include flex-center;
    padding: 6px;
    position: relative;
    background: #88750a;
    left: 20px;
    width: calc(100% - 40px);
    font-size: 32px;
    font-weight: $font-weight-bold;

    .warning-icon {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 400px;
        @include flex-center;
    }
}

.spid {
    text-align: center;
    font-size: 18px;
    padding: 25px;
}
