@use 'variables' as *;
@use 'dedup-mixins' as *;

.calibrate-bls-page {
    text-align: center;

    .title {
        font-size: 32px;
        font-weight: $font-weight-bold;
        padding-bottom: 20px;
    }

    .content {
        @include calibrate-bls-page-content-styles;
    }

    .button-group {
        @include calibrate-bls-page-button-group-styles;
    }
}
