@use 'variables' as *;
@use 'dedup-mixins' as *;

:host {
    position: relative;
}

.end-trip-container {
    background-color: $madt-bg-dark-1;
    padding: 20px 15px;
    height: 100%;
    border-radius: 4px;

    @include trip-summary-container-styles(
        $confirm-full-height: true,
        $confirm-inline-content: true,
        $cf-btn-group-margin-top: 20px,
        $btn-group-margin-top: 20px,
        $print-btn-confirm-padding: 50px,
        $print-complimentary-title: false
    ) {
        .end-trip-details {
            padding-top: 40px;
        }
    }
}
