@use 'variables' as *;

.wrapper {
    background-color: $madt-bg-dark-3;
    position: relative;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 20px;
    right: 20px;
    bottom: 0;
    z-index: 10000;

    img {
        margin-bottom: 1.8rem;
    }

    .content {
        @include flex-center;
        flex-direction: column;
    }

    .loading {
        @include dot-loading;
    }
}
