@use 'variables' as *;

.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 48px;
    border: none;
    outline: none;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #79747e;
    transition: 0.4s;
    border-radius: 36px;
    border: none;
    outline: none;

    .off {
        position: absolute;
        font-size: 20px;
        font-weight: $font-weight-regular;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
    }

    .on {
        position: absolute;
        font-size: 20px;
        font-weight: $font-weight-regular;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.slider:before {
    position: absolute;
    content: '';
    height: 44px;
    width: 44px;
    left: 2px;
    bottom: 2px;
    background-color: #dcdcdc;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: $madt-color-green;
}

input:checked + .slider:before {
    transform: translateX(72px);
}
