<div class="decommission">
    <div class="decommission-block">
        <h2 class="title">{{ 'DECOMMISSION' | translate }}</h2>
        <div class="content">
            <div class="input-group">
                <p>{{ 'ENTER_PIN' | translate }}</p>
                <input
                    id="inputField"
                    type="password"
                    [class.hasError]="commissionError"
                    [attr.aria-label]="'ENTER_PIN' | translate"
                />
                @if (commissionError) {
                    <p class="error">{{ commissionError | translate }}</p>
                }
            </div>
        </div>

        <div class="keyboard">
            <custom-keyboard [layout]="'numeric'" (keyPress)="handleChangeInput($event)"></custom-keyboard>
        </div>
    </div>
    <!-- } -->
</div>
