@use 'variables' as *;
@use 'dedup-mixins' as *;

.pop-up {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    bottom: 0;
    display: flex;
    justify-content: center;

    &.full-screen {
        padding: 5px 20px;
    }

    &.override-all {
        z-index: 99999;
    }

    &-wrapper {
        background-color: $madt-bg-dark-1;
        width: 100%;
        height: 100%;
        @include flex-center;
        flex-direction: column;
        border-radius: 4px;
    }

    .title {
        margin-top: 20px;
        font-size: 32px;
        font-weight: $font-weight-semi-bold;
        text-align: center;
        white-space: pre-wrap;
    }

    .content {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding: 0 10px;
        font-size: 28px;
        margin-top: 20px;
        white-space: pre-wrap;
    }

    @include standard-btn-group-actions-styles($btn-min-width: 145px, $include-ok: true);
}
