@use 'variables' as *;

@mixin lta-transaction-theme($light-theme: false) {
    @if $light-theme {
        .transaction-page {
            background-color: #f2f2f2 !important;
            color: $black;

            .madt-content {
                background-color: #f2f2f2 !important;
            }

            .transaction {
                .back-button {
                    background-color: #3e515b !important;
                    color: $white !important;

                    &::before {
                        background-color: #3e515b !important;
                    }
                }
            }

            .content {
                .button {
                    color: $black !important;
                    background: linear-gradient(to bottom right, #e5e5e5 18%, #e5e5e5 50%) !important;
                    box-shadow: inset 0 0 10px #ccc;

                    &::before {
                        background: $white !important;
                        box-shadow: inset 0 0 10px #ccc;
                    }
                }
            }

            ul {
                .row {
                    background-color: $white !important;

                    .left {
                        color: $black;
                    }

                    .right {
                        border-left-color: #e5e5e5 !important;
                        color: $black !important;

                        .value {
                            color: $black !important;
                        }
                    }
                }
            }
        }
    }
}
