<div class="cv-mode-control">
    @if (
        (cvModeControl.msgID === MsgID.FARE_CO_CV_MODE_CONTROL_SELECT &&
            cvModeControl.status === ResponseStatus.SUCCESS) ||
        (cvModeControl.msgID === MsgID.FARE_CO_CV_MODE_CONTROL_CONFIRM && cvModeControl.status === ResponseStatus.ERROR)
    ) {
        <div class="cv-mode-control-box">
            <div class="dialog">
                <div class="dialog-header">
                    <p>
                        @if (cvMode === 1) {
                            {{ 'SETTING_ALL_CV_TO_NORMAL_SERVICE' | translate }}
                        } @else {
                            {{ 'SETTING_ALL_CV_TO_ALWAYS_IN_SERVICE' | translate }}
                        }
                    </p>
                </div>
                <p class="confirm-msg">{{ 'PRESS_THE_BTN_TO_PROCEED' | translate }}</p>
                <div class="cf-btn-group">
                    <button class="btn btn-cancel" (click)="handleButtonSound(); handleConfirm(false)">
                        <img src="/assets/images/icons/main/close.svg" alt="" />
                        <span>{{ 'CANCEL' | translate }}</span>
                    </button>
                    <button class="btn btn-confirm" (click)="handleButtonSound(); handleConfirm(true)">
                        <img src="/assets/images/icons/main/confirm.svg" alt="" />
                        <span>{{ 'CONFIRM' | translate }}</span>
                    </button>
                </div>
            </div>
        </div>
    } @else {
        <ng-container>
            <div class="back-button" (click)="handleButtonSound(); handleBack()">{{ 'BACK' | translate }}</div>
            <div>
                <h2 class="title">{{ 'CV_MODE_CONTROL' | translate }}</h2>
                <div class="content">
                    <div class="btn-group">
                        <button class="button" (click)="handleButtonSound(); handleSelectStatus(0)">
                            <div class="text">{{ 'ALWAYS_IN_SERVICE' | translate }}</div>
                        </button>
                        <button class="button" (click)="handleButtonSound(); handleSelectStatus(1)">
                            <div class="text">{{ 'NORMAL_SERVICE' | translate }}</div>
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    }

    <!-- <div class="content">
            <div class="row">
                <p class="label">
                    Always in Service:
                    <span
                        [ngClass]="{
                            active: cvModeControl.always
                        }"
                        >{{ cvModeControl.always ? 'On' : 'Off' }}</span
                    >
                </p>
                <div class="switch">
                    <custom-switch [checked]="cvModeControl.always" (onChange)="handleToggleStatus()"></custom-switch>
                </div>
            </div>
            <div class="row">
                <p class="label">
                    Normal Service:
                    <span
                        [ngClass]="{
                            active: cvModeControl.normal
                        }"
                        >{{ cvModeControl.normal ? 'On' : 'Off' }}</span
                    >
                </p>
                <div class="switch">
                    <custom-switch [checked]="cvModeControl.normal" (onChange)="handleToggleStatus()"></custom-switch>
                </div>
            </div>
        </div> -->

    <!-- <ng-container *ngIf="step === 2">
        <confirm-dialog
            [title]="
                selectedControlMode === 'alwaysInService'
                    ? 'Setting All CV to Always in Service'
                    : selectedControlMode === 'normalService'
                      ? 'Setting All CV to Normal Service'
                      : ''
            "
            [content]="'Press the button to confirm.'"
            [btnCancel]="true"
            [btnConfirm]="true"
            (onCancel)="handleSetStatus(false)"
            (onConfirm)="handleSetStatus(true)"
        >
        </confirm-dialog>
    </ng-container>

    <ng-container *ngIf="step === 3">
        <confirm-dialog
            [btnOK]="true"
            (onOK)="handleFinish()"
            [title]="'Success'"
            [content]="
                selectedControlMode === 'alwaysInService'
                    ? 'All CV set to Always in Service'
                    : selectedControlMode === 'normalService'
                      ? 'All CV set to Normal Service'
                      : ''
            "
        >
            <div style="margin-bottom: 20px" icon>
                <img src="/assets/images/svg/big-success.svg" alt="" />
            </div>
        </confirm-dialog>
    </ng-container> -->
</div>
