@use 'variables' as *;
@use 'dedup-mixins' as *;

.cv-mode-control {
    height: 100%;
    text-align: center;
    position: relative;

    .back-button {
        @include back-button;
        font-weight: $font-weight-bold;
        position: absolute;
        top: 0;
        left: 0;
    }

    &-box {
        height: 100%;
        @include flex-center;
        flex-direction: column;
    }

    .title {
        font-size: 32px;
        font-weight: $font-weight-bold;
        padding-bottom: 10px;
    }

    .content {
        margin: 0 auto;
        text-align: center;

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            margin-top: 20px;
            background-color: $madt-bg-dark-2;

            .label {
                font-size: 28px;
                font-weight: $font-weight-regular;
                color: $white;

                span {
                    font-style: italic;
                    color: #ff7777;

                    &.active {
                        color: #92ce3d;
                    }
                }
            }
        }

        .btn-group {
            @include flex-center;
            flex-wrap: wrap;
            gap: 16px 12px;
            margin-top: 30px;
        }

        .button {
            @include dark-button;
            font-size: 24px;
            font-weight: $font-weight-semi-bold;
            min-width: 296px;
            min-height: 120px;

            &:active {
                transform: scale(1.01);
            }
        }
    }

    .dialog {
        @include error-confirm-dialog-styles;
    }

    .dialog-title {
        @include dialog-title;
    }
}
