<div class="cv-mode-control">
    @if (
        (cvModeControl.msgID === MsgID.FARE_CO_CV_MODE_CONTROL_SELECT &&
            cvModeControl.status === ResponseStatus.SUCCESS) ||
        (cvModeControl.msgID === MsgID.FARE_CO_CV_MODE_CONTROL_CONFIRM && cvModeControl.status === ResponseStatus.ERROR)
    ) {
        <div class="cv-mode-control-box">
            <div class="dialog">
                <div class="dialog-header">
                    <p>
                        @if (cvMode === 1) {
                            {{ 'SETTING_ALL_CV_TO_NORMAL_SERVICE' | translate }}
                        } @else {
                            {{ 'SETTING_ALL_CV_TO_ALWAYS_IN_SERVICE' | translate }}
                        }
                    </p>
                </div>
                <p class="confirm-msg">{{ 'PRESS_THE_BTN_TO_PROCEED' | translate }}</p>
                <div class="cf-btn-group">
                    <button class="btn btn-cancel" (click)="handleButtonSound(); handleConfirm(false)">
                        <img src="/assets/images/icons/main/close.svg" alt="" />
                        <span>{{ 'CANCEL' | translate }}</span>
                    </button>
                    <button class="btn btn-confirm" (click)="handleButtonSound(); handleConfirm(true)">
                        <img src="/assets/images/icons/main/confirm.svg" alt="" />
                        <span>{{ 'CONFIRM' | translate }}</span>
                    </button>
                </div>
            </div>
        </div>
    } @else {
        <ng-container>
            <div
                class="back-button"
                (click)="handleButtonSound(); handleBack()"
                tabindex="0"
                (keydown.enter)="handleButtonSound(); handleBack()"
            >
                {{ 'BACK' | translate }}
            </div>
            <div>
                <h2 class="title">{{ 'CV_MODE_CONTROL' | translate }}</h2>
                <div class="content">
                    <div class="btn-group">
                        <button class="button" (click)="handleButtonSound(); handleSelectStatus(0)">
                            <div class="text">{{ 'ALWAYS_IN_SERVICE' | translate }}</div>
                        </button>
                        <button class="button" (click)="handleButtonSound(); handleSelectStatus(1)">
                            <div class="text">{{ 'NORMAL_SERVICE' | translate }}</div>
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    }
</div>
